{% extends "layout.html" %}

{% block content %}
    <h2>About Brewery Finder App</h2>
    <p>
        The Brewery Finder App allows users to search for breweries across the United States. 
        You can search by selecting a state, entering a postal code, or both. 
        Additionally, you can filter the search results by the type of brewery, such as microbreweries, brewpubs, or large breweries.
    </p>
    <p>
        After performing a search, a list of breweries will be displayed, each with a link to its location on Google Maps and brewery webpage. 
        This makes it easy to find and visit breweries near you or in specific areas.
    </p>
    <p>
        This app is powered by the OpenBreweryDB API, which provides data on breweries across the country.
    </p>
{% endblock %}
