{% extends "layout.html" %}

{% block content %}
    <style>
        /* Remove underline from links */
        a {
            text-decoration: none;
        }

        /* Add hover effect to indicate clickable links */
        a:hover {
            text-decoration: underline;
        }
    </style>
    <h2>
        Breweries Found
        {% if state and state != "" %}
            in {{ state }}
        {% elif postal_code and postal_code != "" %}
            in Postal Code {{ postal_code }}
        {% endif %}
    </h2>
    <ul>
        {% for brewery in breweries %}
            <li style="margin-bottom: 10px;">
                <span>
                    {{ brewery['name'] }} - {{ brewery['city'] }}
                </span>
                <a href="https://www.google.com/maps/search/?api=1&query={{ brewery['name'] }}+{{ brewery['street'] }}+{{ brewery['city'] }}+{{ brewery['state'] }}" target="_blank" style="margin-left: 10px;">
                    <i class="fas fa-map-marker-alt"></i>
                </a>
                {% if brewery['website_url'] %}
                    <a href="{{ brewery['website_url'] }}" target="_blank" style="margin-left: 10px;">
                        <i class="fas fa-link"></i>
                    </a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    <a href="/">Search again</a>
{% endblock %}
